{% extends "layout.html" %}

{% block css %}
    <style>
        textarea.form-control {
            height: 50rem;
        }
        .chart {
            min-width: 320px;
            max-width: 800px;
            height: 220px;
            margin: 0 auto;
        }
        .right-val-col{
            border-right: 1px dashed #AAA;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="body-content">
        <div class="row">
            <div class="col-lg-6">
                <h2><i class="fa fa-edit"></i> Input values</h2>
                <form class="form" method="POST" action="" role="form">
                    {{ form.csrf_token }}
{#                    {% for field in form %}#}
                        <div class="col-lg-2">{{ render_field(form.Q_H) }}</div>
                        <div class="col-lg-2 right-val-col">{{ render_field(form.H) }}</div>
                        <div class="col-lg-2">{{ render_field(form.Q_eff) }}</div>
                        <div class="col-lg-2 right-val-col">{{ render_field(form.eff) }}</div>
                        <div class="col-lg-2">{{ render_field(form.Q_NPSHr) }}</div>
                        <div class="col-lg-2 right-val-col">{{ render_field(form.NPSHr) }}</div>
                        <div class="col-lg-2">{{ render_field(form.H_Q_polynom_n) }}</div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2">{{ render_field(form.eff_Q_polynom_n) }}</div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-2">{{ render_field(form.NPSHr_Q_polynom_n) }}</div>

{#                    {% endfor %}#}
                    <div class="col-lg-2">
                        <p><input class="btn btn-primary btn-submit" type="submit" value="Submit"></p>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <h2><i class="fa fa-line-chart"></i> Chart</h2>
                <div id="container"></div>
            </div>
        </div><!-- /.row -->
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            /**
             * In order to synchronize tooltips and crosshairs, override the
             * built-in events with handlers defined on the parent element.
             */
            $('#container').bind('mousemove touchmove touchstart', function (e) {
                var chart,
                        point,
                        i,
                        event;

                for (i = 0; i < Highcharts.charts.length; i = i + 1) {
                    chart = Highcharts.charts[i];
                    event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
                    point = chart.series[0].searchPoint(event, true); // Get the hovered point

                    if (point) {
                        point.highlight(e);
                    }
                }
            });
            /**
             * Override the reset function, we don't need to hide the tooltips and crosshairs.
             */
            Highcharts.Pointer.prototype.reset = function () {
                return undefined;
            };

            /**
             * Highlight a point by showing tooltip, setting hover state and draw crosshair
             */
            Highcharts.Point.prototype.highlight = function (event) {
                this.onMouseOver(); // Show the hover marker
                this.series.chart.tooltip.refresh(this); // Show the tooltip
                this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
            };

            /**
             * Synchronize zooming through the setExtremes event handler.
             */
            function syncExtremes(e) {
                var thisChart = this.chart;

                if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
                    Highcharts.each(Highcharts.charts, function (chart) {
                        if (chart !== thisChart) {
                            if (chart.xAxis[0].setExtremes) { // It is null while updating
                                chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, {trigger: 'syncExtremes'});
                            }
                        }
                    });
                }
            }

            var chart_data = {{ chart_data|safe }};

            $.each(chart_data, function (i, dataset) {
                $('<div class="chart">')
                    .appendTo('#container')
                    .highcharts({
                    chart: {
                        marginLeft: 40, // Keep all charts left aligned
                        spacingTop: 20,
                        spacingBottom: 20
                    },
                    title: {
                        text: dataset.name,
                        align: 'left',
                        margin: 0,
                        x: 30
                    },
                    credits: {
                        enabled: false
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        crosshair: true,
                        events: {
                            setExtremes: syncExtremes
                        },
                        labels: {
                            format: '{value} m3/h'
                        }
                    },
                    yAxis: {
                        title: {
                            text: null
                        }
                    },
                    tooltip: {
                        positioner: function () {
                            return {
                                x: this.chart.chartWidth - this.label.width, // right aligned
                                y: -1 // align to title
                            };
                        },
                        borderWidth: 0,
                        backgroundColor: 'none',
                        pointFormat: '{point.y} at {point.x}m3/h',
                        headerFormat: '',
                        shadow: false,
                        style: {
                            fontSize: '12px'
                        },
                        valueDecimals: dataset.valueDecimals
                    },
                    series: [
                        {
                            data: dataset.data,
                            name: dataset.name,
                            type: 'line',
                            color: Highcharts.getOptions().colors[i+3],
                            fillOpacity: 0.3,
                            tooltip: {valueSuffix: dataset.suffix}
                        },
                        {
                            data: dataset.points,
                            type: 'line',
                            color: 'grey',
                            lineWidth: 0,
                            marker: {states: {hover: {enabled: false}}}
                        }
                    ]
                });
            });
        });
    </script>
{% endblock %}
