{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to Pump Select</h1>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-edit"></i> Input values</h2>

        <form class="form" method="POST" action="" role="form">
{#            {% for field in form %}#}
{#                {{ render_field(field) }}#}
{#            {% endfor %}#}
            <p><input class="btn btn-default btn-submit" type="submit" value="Submit"></p>
        </form>
    </div>
    <div class="col-lg-8">
      <h2><i class="fa fa-eye"></i> Chart</h2>
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

{% block js %}
<script>
$(function () {
    Highcharts.chart('container', {
        title: {
{#            text: 'Monthly Average Temperature',#}
{#            x: -20 //center#}
        },
        subtitle: {
{#            text: 'Source: WorldClimate.com',#}
{#            x: -20#}
        },
        xAxis: {
{#            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',#}
{#                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']#}
        },
        yAxis: {
            title: {
                text: 'Q'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'm3'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'points',
            data: {{ points_series_data }},
            lineWidth: 0
        },
                {
            name: '2',
            data: {{ polynoms_vals[2] }}
        },
                {
            name: '4',
            data: {{ polynoms_vals[4] }}
        },
                {
            name: '6',
            data: {{ polynoms_vals[6] }}
        }]
    });
});
</script>
{% endblock %}
