{% extends "layout.html" %}

{% block css %}
    <style>
        textarea.form-control {
            height: 50rem;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    {#<div class="jumbotron">#}
    {#  <h1>Welcome to Pump Select</h1>#}
    {#</div><!-- /.jumbotron -->#}

    <div class="body-content">
        <div class="row">
            <h2><i class="fa fa-edit"></i> Input values</h2>
            <form class="form" method="POST" action="" role="form">
                {{ form.csrf_token }}
                {% for field in form %}
                    <div class="col-lg-2">
                        {{ render_field(field) }}
                    </div>
                {% endfor %}
                <div class="col-lg-12">
                    <p><input class="btn btn-default btn-submit" type="submit" value="Submit"></p>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2><i class="fa fa-line-chart"></i> Chart</h2>
                <div id="container" style="min-width: 30rem; height: 40rem; margin: 0 auto"></div>
            </div>
        </div><!-- /.row -->
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            Highcharts.chart('container', {
                title: {
                    text: 'Chart Y(x)',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Click on a chart name to show/hide it.',
                    x: -20 //center
                },
                xAxis: {
                    title: {
                        text: 'X axis'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#ddd'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Y axis'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: 'm3'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'manual points',
                    data: {{ points_series_data }},
                    lineWidth: 0
                },
                {
                    name: 'polynom ^4',
                    data: {{ polynoms_vals }},
                    marker: {enabled: false}
                }
                ]
            });
        });
    </script>
{% endblock %}
